.search-input {
  position: relative;
  height: 44px;
  left: 255px;
  top: 20px;
  border-radius: 22px;
  left: 13.28%;
  right: 43.49%;
  top: 1.67%;
  bottom: 94.67%;
  background: #ebebeb;
  mix-blend-mode: normal;
  opacity: 0.1;
  border-radius: 22px;
}

.form {
  position: relative;
}

.input-label::after {
  position: absolute;
  content: "";
  display: inline-block;
  background-image: url("../../../../../Assets/Images/search.svg");
  width: 19px;
  height: 19px;
  background-repeat: no-repeat;
  right: -10%;
  top: 30%;
}

.notification-btn {
  position: relative;
}

.notification-btn::after {
  position: absolute;
  content: "3";
  color: white;
  display: inline-block;
  background-color: red;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  top: 15%;
  right: 44%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
